body {
  background-color: #f3767c;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.calculator {
  display: inline-block;
  margin-top: 3rem;
  background-image: linear-gradient(-120deg, #1e1c1f, #39393a);
  padding: 1rem;
  border-radius: 10px;
}
.screen {
  background-color: #c9d7c7;
  height: 5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}
.keys {
  display: grid;
  grid-template-columns: repeat(4, minmax(60px, 80px));
  grid-gap: 3px;
}
.key {
  padding: 1.5rem 0.2rem;
  background: #ededed;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.key:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}
